# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
# Treat the below configured file extensions as binary files and not lines of text for change tracking.
*.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
