firepower/data/machine_vars.yaml
firepower/data/audits.yaml
Fathom/blue_bonus_save.yaml
Fathom/bonus_example.txt
Fathom/desktop.ini
Fathom/service_mode_cmds.txt
Fathom/service_mode_cmds.txt.bak
Fathom/config/CobraPin_example.txt
Fathom/config/coils_config.yaml
Fathom/config/coils_config.yaml.bak
Fathom/config/config.yaml
Fathom/config/config.yaml.bak
Fathom/config/keyboard.yaml
Fathom/config/keyboard.yaml.bak
Fathom/config/lights_config.yaml
Fathom/config/lights_config.yaml.bak
Fathom/config/slides_config.yaml
Fathom/config/switches_config.yaml
Fathom/config/switches_config.yaml.bak
Fathom/config/test_light_show.yaml
Fathom/data/audits.yaml
Fathom/data/high_scores.yaml
Fathom/data/machine_vars.yaml
Fathom/fonts/ancienttext.ttf
Fathom/fonts/big_noodle_titling.ttf
Fathom/fonts/BobbiTheHippie.otf
Fathom/fonts/bobbithehippie.ttf
Fathom/fonts/DEADJIM.TTF
Fathom/fonts/font licenses.txt
Fathom/fonts/pixelmix.ttf
Fathom/fonts/Quadrit.ttf
Fathom/fonts/smallest_pixel-7.ttf
Fathom/fonts/upcll.ttf
Fathom/fonts/WELTRON2.TTF
Fathom/images/hi_score_image_1.jpg
Fathom/modes/attract/config/attract.yaml
Fathom/modes/attract/config/attract.yaml.bak
Fathom/modes/attract/shows/attract_display_loop.yaml
Fathom/modes/attract/shows/attract_light_show.yaml
Fathom/modes/attract/shows/attract_light_show.yaml.bak
Fathom/modes/attract/shows/attract_segment_loop.yaml
Fathom/modes/awards/config/awards.yaml
Fathom/modes/awards/shows/color_cave_cycle_show.yaml
Fathom/modes/awards/shows/color_lagoon_cycle_show.yaml
Fathom/modes/awards/shows/flash_green_light_show.yaml
Fathom/modes/awards/shows/flash_orange_light_show.yaml
Fathom/modes/awards/shows/flash_white_light_show.yaml
Fathom/modes/awards/shows/green_stage_light_show.yaml
Fathom/modes/awards/shows/orange_stage_light_show.yaml
Fathom/modes/awards/shows/stage_light_show.yaml
Fathom/modes/awards/shows/stage_off_light_show.yaml
Fathom/modes/base/config/base.yaml
Fathom/modes/base/config/base.yaml.bak
Fathom/modes/base/shows/ball_ending_light_show.yaml
Fathom/modes/base/shows/ball_shoot_light_show.yaml
Fathom/modes/base/shows/ball_shoot_light_show.yaml.bak
Fathom/modes/base/shows/ball_starting_1_segment_display.yaml
Fathom/modes/base/shows/ball_starting_2_segment_display.yaml
Fathom/modes/base/shows/ball_starting_3_segment_display.yaml
Fathom/modes/base/shows/ball_starting_light_show.yaml
Fathom/modes/base/shows/ball_starting_light_show.yaml.bak
Fathom/modes/base/shows/ball_starting_segment_show.yaml
Fathom/modes/base/shows/color_cycle_pop_1_show.yaml
Fathom/modes/base/shows/color_cycle_pop_1_show.yaml.bak
Fathom/modes/base/shows/color_cycle_pop_2_show.yaml
Fathom/modes/base/shows/color_cycle_pop_2_show.yaml.bak
Fathom/modes/base/shows/color_cycle_pop_show.yaml
Fathom/modes/base/shows/color_cycle_pop_show.yaml.bak
Fathom/modes/base/shows/color_cycle_show.yaml
Fathom/modes/base/shows/color_cycle_show.yaml.bak
Fathom/modes/base/shows/gi_backbox_cycle_show_3.yaml
Fathom/modes/base/shows/gi_backbox_cycle_show_3.yaml.bak
Fathom/modes/base/shows/gi_backbox_flash_show.yaml
Fathom/modes/base/shows/gi_backbox_flash_show.yaml.bak
Fathom/modes/base/sounds/music/fathom_abc_loop.wav
Fathom/modes/base/sounds/music/fathom_boot_intro.wav
Fathom/modes/base/sounds/music/fathom_lvl1_loop.wav
Fathom/modes/base/sounds/music/genghis_khan.wav
Fathom/modes/base/sounds/sfx/abc_roll_2.wav
Fathom/modes/base/sounds/sfx/AntiMatter Torp.wav
Fathom/modes/base/sounds/sfx/bonus_collect.wav
Fathom/modes/base/sounds/sfx/chirp.wav
Fathom/modes/base/sounds/sfx/ctr_target.wav
Fathom/modes/base/sounds/sfx/drain_rollover.wav
Fathom/modes/base/sounds/sfx/gtr_02_burst_b.wav
Fathom/modes/base/sounds/sfx/gtr_02a_burst_b.wav
Fathom/modes/base/sounds/sfx/gtr_08_squeak.wav
Fathom/modes/base/sounds/sfx/gtr_13_squeal.wav
Fathom/modes/base/sounds/sfx/gtr_22_scrape_stab.wav
Fathom/modes/base/sounds/sfx/gtr_36_klaxon_hit.wav
Fathom/modes/base/sounds/sfx/gtr_63_slow_release.wav
Fathom/modes/base/sounds/sfx/gtr_81_quackscape_short_2Xph.wav
Fathom/modes/base/sounds/sfx/gtr_81_quackscape_short4.wav
Fathom/modes/base/sounds/sfx/gtr_81_quackscape_short4b.wav
Fathom/modes/base/sounds/sfx/gtr_81_quackscape_short4f.wav
Fathom/modes/base/sounds/sfx/gtr_102_phaser_1.wav
Fathom/modes/base/sounds/sfx/lane_target.wav
Fathom/modes/base/sounds/sfx/left_target.wav
Fathom/modes/base/sounds/sfx/loud-e-guitar-lick_E_major_2.wav
Fathom/modes/base/sounds/sfx/loud-e-guitar-lick_E_major.wav
Fathom/modes/base/sounds/sfx/mega-bassy-echo-fx_A_major_ph.wav
Fathom/modes/base/sounds/sfx/mega-bassy-echo-fx_E_major_ph.wav
Fathom/modes/base/sounds/sfx/mega-bassy-echo-fx_E_major_ph3.wav
Fathom/modes/base/sounds/sfx/outer_rollover.wav
Fathom/modes/base/sounds/sfx/Phased Torp.wav
Fathom/modes/base/sounds/sfx/phaser_sixteenvox.wav
Fathom/modes/base/sounds/sfx/pop_bumper1.wav
Fathom/modes/base/sounds/sfx/pop_bumper2.wav
Fathom/modes/base/sounds/sfx/psy-effect-spaceship-fx-8_C_major.wav
Fathom/modes/base/sounds/sfx/psy-effect-zapp-3_C_bass.wav
Fathom/modes/base/sounds/sfx/psy-effect-zapp-3_C_minor.wav
Fathom/modes/base/sounds/sfx/pulse_2step_hi.wav
Fathom/modes/base/sounds/sfx/pulse_2step.wav
Fathom/modes/base/sounds/sfx/pulse_2x.wav
Fathom/modes/base/sounds/sfx/sling2.wav
Fathom/modes/base/sounds/sfx/spinner2.wav
Fathom/modes/base/sounds/sfx/spinner3.wav
Fathom/modes/base/sounds/sfx/trickle.wav
Fathom/modes/base/sounds/sfx/ws_bass_drop_is_coming.wav
Fathom/modes/base/sounds/voice/ah_attack.wav
Fathom/modes/base/sounds/voice/ah_yes.wav
Fathom/modes/base/sounds/voice/air_gone.wav
Fathom/modes/base/sounds/voice/air_supply_gone.wav
Fathom/modes/base/sounds/voice/air_tanks_refilled.wav
Fathom/modes/base/sounds/voice/danger.wav
Fathom/modes/base/sounds/voice/death_dive.wav
Fathom/modes/base/sounds/voice/dive_again.wav
Fathom/modes/base/sounds/voice/diver_trapped.wav
Fathom/modes/base/sounds/voice/great_neptune.wav
Fathom/modes/base/sounds/voice/help_me.wav
Fathom/modes/base/sounds/voice/help_surface.wav
Fathom/modes/base/sounds/voice/laugh_more.wav
Fathom/modes/base/sounds/voice/laugh_revenge.wav
Fathom/modes/base/sounds/voice/laugh.wav
Fathom/modes/base/sounds/voice/mermaids_revenge.wav
Fathom/modes/base/sounds/voice/mermaids_trap.wav
Fathom/modes/base/sounds/voice/now_youve_dunnit.wav
Fathom/modes/base/sounds/voice/sea_nympths_await.wav
Fathom/modes/base/sounds/voice/sea_nympths_release.wav
Fathom/modes/base/sounds/voice/sea_nympths_trap.wav
Fathom/modes/bluebonus/config/bluebonus.yaml
Fathom/modes/bluebonus/config/bluebonus.yaml.bak
Fathom/modes/bluebonus/shows/3X_blue_segment_display.yaml
Fathom/modes/bluebonus/shows/4X_blue_segment_display.yaml
Fathom/modes/bluebonus/shows/5X_blue_segment_display.yaml
Fathom/modes/bonus_collect/config/bonus_collect.yaml
Fathom/modes/bonus_collect/config/bonus_collect.yaml.bak
Fathom/modes/cavetrap/config/cavetrap.yaml
Fathom/modes/cavetrap/config/cavetrap.yaml.bak
Fathom/modes/cavetrap/shows/cave_trap_segment_display.yaml
Fathom/modes/ctrdropbank/config/ctrdropbank.yaml
Fathom/modes/ctrdropbank/config/ctrdropbank.yaml.bak
Fathom/modes/ctrdropbank/shows/ctr_drop_target_1_segment_display.yaml
Fathom/modes/ctrdropbank/shows/ctr_drop_target_2_segment_display.yaml
Fathom/modes/ctrdropbank/shows/ctr_drop_target_3_segment_display.yaml
Fathom/modes/extra_ball/config/extra_ball.yaml
Fathom/modes/extra_ball/shows/eb_light_show.yaml
Fathom/modes/extra_ball/shows/extra_ball_segment_display.yaml
Fathom/modes/greenbonus/config/greenbonus.yaml
Fathom/modes/greenbonus/config/greenbonus.yaml.bak
Fathom/modes/greenbonus/shows/3X_green_segment_display.yaml
Fathom/modes/greenbonus/shows/4X_green_segment_display.yaml
Fathom/modes/greenbonus/shows/5X_green_segment_display.yaml
Fathom/modes/high_score/config/high_score.yaml
Fathom/modes/lagoontrap/config/lagoontrap.yaml
Fathom/modes/lagoontrap/config/lagoontrap.yaml.bak
Fathom/modes/lagoontrap/shows/lagoon_trap_segment_display.yaml
Fathom/modes/lane_change/config/lane_change.yaml
Fathom/modes/lane_change/config/lane_change.yaml.bak
Fathom/modes/lane_change/shows/lane_change_1_segment_display.yaml
Fathom/modes/lane_change/shows/lane_change_2_segment_display.yaml
Fathom/modes/lane_change/shows/lane_change_3_segment_display.yaml
Fathom/modes/lane_change/shows/lane_change_4_segment_display.yaml
Fathom/modes/popbmpr/config/popbmpr.yaml
Fathom/modes/popbmpr/config/popbmpr.yaml.bak
Fathom/modes/sixdropbank/config/sixdropbank.yaml
Fathom/modes/sixdropbank/config/sixdropbank.yaml.bak
Fathom/modes/spec_lanes/config/spec_lanes.yaml
Fathom/modes/spinner/config/spinner.yaml
Fathom/modes/spinner/shows/spinner_light_show.yaml
Fathom/modes/spinner/shows/spinner_segment_display.yaml
Fathom/modes/star_lane/config/star_lane.yaml
Fathom/monitor/Fathom_Plfld_MPF - Copy.jpg
Fathom/monitor/monitor_gi_backbox.yaml
Fathom/monitor/monitor_gi_backbox.yaml.bak
Fathom/monitor/monitor.yaml
Fathom/monitor/monitor.yaml.bak
Fathom/monitor/Playfield.jpg
Fathom/monitor/config/config.yaml
Fathom/shows/test_light_show.yaml
Fathom/shows/test_light_show.yaml.bak
Fathom/videos/3X_blue_video.mp4
Fathom/videos/4X_blue_video.mp4
Fathom/videos/5X_blue_video.mp4
Fathom/videos/attract_loop_video.mp4
Fathom/videos/ball_end_video.mp4
Fathom/videos/ball_saved_video.mp4
Fathom/videos/blue_drop_video.mp4
Fathom/videos/cave_trap_video.mp4
Fathom/videos/extra_ball_2_video.mp4
Fathom/videos/extra_ball_video.mp4
Fathom/videos/green_drop_video.mp4
Fathom/videos/lane_change_1_video.mp4
Fathom/videos/lane_change_2_video.mp4
Fathom/videos/lane_change_3_video.mp4
Fathom/videos/lane_change_4_video.mp4
Fathom/videos/pop_1_video.mp4
Fathom/videos/pop_2_video.mp4
Fathom/videos/pop_3_video.mp4
Fathom/videos/sling_1_video.mp4
Fathom/videos/sling_2_video.mp4
Fathom/videos/spec_lanes_1_video.mp4
Fathom/videos/spec_lanes_2_video.mp4
Fathom/videos/spec_lanes_3_video.mp4
Fathom/videos/spec_lanes_4_video.mp4
Fathom/videos/spinner_bonus_video.mp4
Fathom/videos/spinner_video.mp4
Fathom/videos/start_video.mp4
.godot
