#config_version=6
mode:
  start_events: ball_starting
  stop_events: game_ended
  priority: 100

########################################
# Fire off events to get modes going
########################################

event_player:
  mode_base_started:
    - start_mode_bonus_collect    # Priority 250
    - start_mode_lane_change      # Priority 200
    - start_mode_shield_qualifier # Priority 200

queue_relay_player:
  ball_ending:
    post: start_ball_ending_show
    wait_for: timer_bonus_collect_timer2_complete

########################################
# 1. Player variable logic
########################################

variable_player:
  score_100:
    score: 100
  score_1000:
    score: 1000
  # Reset bonus & multiplier at the start of each ball
  ball_started:
    bonus_steps:
      int: 0
      action: set
    bonus_multiplier:
      int: 1
      action: set

  # -----------------------------
  # BONUS-BUILDING SWITCHES
  # Each hit adds +1 bonus step (= 1000 pts of base bonus).
  # -----------------------------
  s_power_1_active:
    bonus_steps: 1
  s_power_2_active:
    bonus_steps: 1
  s_power_3_active:
    bonus_steps: 1
  s_right_out_lane_active:
    bonus_steps: 1
  s_left_out_lane_active:
    bonus_steps: 1
  s_star_1_active:
    bonus_steps: 1
  s_star_2_active:
    bonus_steps: 1
  s_lock_1_active:
    bonus_steps: 1
  s_lock_2_active:
    bonus_steps: 1
  s_lock_3_active:
    bonus_steps: 1
  s_right_return_lane_active:
    bonus_steps: 1
  s_left_return_lane_active:
    bonus_steps: 1

show_player: 
  ball_started: base_light_show
  ball_started{player==1}: player_1_up_show
  ball_started{player==2}: player_2_up_show
  ball_started{player==3}: player_3_up_show
  ball_started{player==4}: player_4_up_show
  ball_ended: all_player_indicators_off_show
  bonus_add_updated:
    bonus_lamp_progress:
      show_tokens:
        txt: "{(bonus_add)}"

shows:
  ball_starting_show:
    - duration: 3s
  ball_ending_show:
    - duration: 10s
  ball_1_starting_voice_show:
    - duration: 3s
  #####################################################
  ###  Shows - Segment display show score values   ####
  #####################################################
  credit_ball:
    - duration: -1
      segment_displays:
        credit_ball_display:
          text: (txt)
  P1_score:
    - duration: -1
      segment_displays:
        player1_display:
          text: (txt)
  P2_score:
    - duration: -1
      segment_displays:
        player2_display:
          text: (txt)
  P3_score:
    - duration: -1
      segment_displays:
        player3_display:
          text: (txt)
  P4_score:
    - duration: -1
      segment_displays:
        player4_display:
          text: (txt)
  P1_scoreFlash:
    - duration: 0.75
      segment_displays:
        player1_display:
          text: (txt)
    - duration: 0.25
      segment_displays:
        player1_display:
          text: "        "
  P2_scoreFlash:
    - duration: 0.75
      segment_displays:
        player2_display:
          text: (txt)
    - duration: 0.25
      segment_displays:
        player2_display:
          text: "        "
  P3_scoreFlash:
    - duration: 0.75
      segment_displays:
        player3_display:
          text: (txt)
    - duration: 0.25
      segment_displays:
        player3_display:
          text: "        "
  P4_scoreFlash:
    - duration: 0.75
      segment_displays:
        player4_display:
          text: (txt)
    - duration: 0.25
      segment_displays:
        player4_display:
          text: "        "

shots:
  target_power1:
    switch: s_power_1
    show_tokens:
      light: l_right_target_1
  target_power2:
    switch: s_power_2
    show_tokens:
      light: l_right_target_2
  target_power3:
    switch: s_power_3
    show_tokens:
      light: l_right_target_3