#config_version=6

config:
- hardware.yaml
- colors.yaml
- displays.yaml
- devices.yaml
- switches.yaml
- coils.yaml
- lights.yaml
- sounds.yaml
- infolights.yaml
- modes.yaml
- logging.yaml

mpf:
  report_crashes: never

machine:    
  balls_installed: 3
  min_balls: 3

playfields:
  playfield:
    default_source_device: bd_plunger_lane
    enable_ball_search: true
    tags: default

game:
  balls_per_game: 3
  max_players: 4