#config_version=6

config:
- hardware.yaml
- displays.yaml
- devices.yaml
- switches.yaml
- coils.yaml
- lights.yaml
- logging.yaml
- infolights.yaml

mpf:
  report_crashes: never

machine:    
  balls_installed: 3
  min_balls: 3

playfields:
  playfield:
    default_source_device: bd_plunger_lane
    enable_ball_search: true
    tags: default

game:
  balls_per_game: 2
  max_players: 4

modes:
  - base
  - segment_display
  - lane_change
  - arrow_targets
  - circle_targets
